body {
    font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
}

.jin-shadow:hover {
    box-shadow:1px 1px 40px #292929;
}

.jin-margin {
    margin: 0 auto;
}

.jin-algn-left {
    margin-left: auto;
}

.jin-algn-right {
    margin-right: auto;
}

.jin-font-blue {
    color: #3bb8e1;
}

.jin-title-margin {
    margin-top: 5%;
    margin-bottom: 5%;
}

.jin-title-down {
    margin-bottom: 30px;
}