body {
    font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
}

.jin-page-buttom-margin {
    margin-bottom: 70px;
}

.jin-shadow:hover {
    box-shadow:1px 1px 40px #292929;
}

.jin-margin {
    margin: 0 auto;
}

.jin-algn-left {
    margin-left: auto;
}

.jin-algn-right {
    margin-right: auto;
}

.jin-font-blue {
    color: #3bb8e1;
}

.jin-title-margin {
    vertical-align: middle;
    margin: 0 auto;
    padding: 5% 0;
    width: 500px;
}

.jin-title-margin div{
    display: inline-block;
}

.jin-title-h1 {
    margin-top: 0px;
    margin-left: 107px;
    margin-right: 107px;
    font-family: 微软雅黑;
}


@media screen and (max-width: 1024px) {
    .jin-title-margin {
        margin: 0 auto;
        padding: 5% 0;
        width: 470px;
    }
    .jin-title-h1 {
        margin-top: 0px;
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .jin-title-margin {
        margin: 0 auto;
        padding: 5% 0;
        width: 300px;
    }
    .jin-title-h1 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 34px;
    }
}