<!DOCTPYE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>种牛牛后花园</title>

        <!-- Bootstrap --><!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/bootstrap-vertical-menu.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-vertical-left jin-shadow">
            <ul class="nav navbar-nav">
                <li>
                    <a href>
                        <i class="fa fa-fort-awesome"></i>
                        <span>home</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-book "></i>
                        <span>blog</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-comments-o"></i>
                        <span>board</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-info"></i>
                        <span>info</span>
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="row jin-title-margin jin-font-blue">
            <div class=""><i class="fa fa-chevron-left fa-3x"></i></div>
            <div class=""><h1 class="jin-title-h1">种牛牛后花园</h1></div>
            <div class=""><i class="fa fa-chevron-right fa-3x"></i></div>
            
        </div>
        <div class="container jin-page-buttom-margin">
            <div class="panel panel-info jin-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Starting build blog site with MEAN Stack</h3>
                </div>
                <div class="panel-body">
                    <!-- Hello world blog -->
                    <span>Actually, this is the first diliveried version, and without any backend database running.</span></br>
                    <span>The most difficult thing to me is that how to use HTML/CSS, or we call it HTML5 to build the frontend.</span></br>
                    <span>But sooner or later, I think I will get used of these staff.</span></br>
                    <span>Here are the list of component or site or whatever I used:</span></br>
                    <span>VPS: DigitalOcean</span></br>
                    <span>Linux: Ubuntu</span></br>
                    <span>DNS: oray.com</span></br>
                    <span>Framework: MEAN stack</span></br>
                    <span>git: jinJoker/meanBlog</span></br>
            </div>
            </div>
        </div>
    </body>
</html>