<!DOCTPYE html>
<html ng-app="blogApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>种牛牛后花园</title>

        <!-- css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular-csp.css">
        
        <link rel="stylesheet" href="/css/bootstrap-vertical-menu.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <div id="overlay" class="jin-overlay" onclick="removeFloatLayer()"></div>
        <div id="popup" class="jin-popup">just for test</div>
        <nav class="navbar navbar-vertical-left jin-shadow">
            <ul class="nav navbar-nav">
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-fort-awesome"></i>
                        <span>home</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-book "></i>
                        <span>blog</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-comments-o"></i>
                        <span>board</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-info"></i>
                        <span>info</span>
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="row jin-title-margin jin-font-blue">
            <div class=""><i class="fa fa-chevron-left fa-3x"></i></div>
            <div class=""><h1 class="jin-title-h1">种牛牛后花园</h1></div>
            <div class=""><i class="fa fa-chevron-right fa-3x"></i></div>
            
        </div>
        <p class="jin-font-blue jin-title-h1" ng-hide="true"><i class="fa fa-spinner fa-3x"></i><span>加载中 ...</span></p>
        <div class="container jin-page-buttom-margin" ng-controller="blogPanelController" ng-cloak>
            <div class="panel panel-info jin-shadow" ng-repeat="blog in blogs">
                <div class="panel-heading">
                    <h3 class="panel-title" onclick="generateFloatLayer()">{{blog.title}}</h3>
                </div>
                <div class="panel-body" ng-bind-html="blog.content | trusthtml">
                    <!-- Hello world blog -->
                    {{blog.content}}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.min.js"></script>
        <script type="text/javascript" src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular-route.min.js"></script>
        <script type="text/javascript" src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular-resource.min.js"></script>
        <script type="text/javascript" src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/js/blog-app.js"></script>
        <script type="text/javascript" src="/js/controllers/blog-panel-controller.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        
    </body>
</html>