<!DOCTPYE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>种牛牛后花园</title>

        <!-- Bootstrap --><!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/bootstrap-vertical-menu.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-vertical-left jin-shadow">
            <ul class="nav navbar-nav">
                <li>
                    <a href>
                        <i class="fa fa-fort-awesome"></i>
                        <span>home</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-book "></i>
                        <span>blog</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-comments-o"></i>
                        <span>board</span>
                    </a>
                </li>
                <li>
                    <a href>
                        <i class="fa fa-fw fa-lg fa-info"></i>
                        <span>info</span>
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="row jin-title-margin">
            <div class="col-xs-2 col-xs-offset-2 col-md-1 col-md-offset-3 jin-font-blue"><i class="fa fa-chevron-left fa-3x"></i></div>
            <div class="col-xs-3 col-xs-offset-1 col-md-3 col-md-offset-1 jin-title-down"><h1>种牛牛后花园</h1></div>
            <div class="col-xs-1 col-md-offset-1 jin-font-blue"><i class="fa fa-chevron-right fa-3x"></i></div>

        </div>
        <div class="container">
            <div class="panel panel-info jin-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>
    </body>
</html>